---
import Post from '@/components/Post.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllSeries } from '@/posts'

export async function getStaticPaths() {
  const series = await getAllSeries()
  return [...series.keys().map((slug) => ({ params: { slug } }))]
}

const { slug } = Astro.params

const allSeries = await getAllSeries()
const series = allSeries.get(slug)!
---

<Layout title={series.name}>
  <h1>{series.name}</h1>
  {series.posts.map((p) => <Post postId={p.id} card />)}
</Layout>

<style>
  h1 {
    margin-block-start: 0;
  }
</style>
