@use "latte";
@use "mocha";
@use "sass:color";

[data-theme="light"],
:root:not([data-theme="dark"]) {
  @import "latte";
  --pico-primary: #{$mauve};
  --pico-background-color: #{$mantle};
  --pico-color: #{$text};
  --pico-text-selection-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-muted-color: #{$overlay1};
  --pico-muted-border-color: #{$overlay1};
  --pico-primary-background: var(--pico-primary);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: rgba(var(--pico-primary), 0.5);
  --pico-primary-hover: var(--pico-primary);
  --pico-primary-hover-background: var(--pico-primary-background);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: rgba(var(--pico-primary), 0.375);
  --pico-primary-inverse: #{$rosewater};
  --pico-secondary: var(--pico-color);
  --pico-secondary-background: #{$surface2};
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: rgba(var(--pico-secondary), 0.5);
  --pico-secondary-hover: var(--pico-secondary);
  --pico-secondary-hover-background: var(--pico-secondary-background);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: rgba(var(--pico-secondary-hover), 0.5);
  --pico-secondary-focus: rgba(var(--pico-secondary), 0.25);
  --pico-secondary-inverse: #{$rosewater};
  --pico-contrast: #{$text};
  --pico-contrast-background: #{$text};
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: rgba(var(--pico-contrast), 0.5);
  --pico-contrast-hover: var(--pico-contrast);
  --pico-contrast-hover-background: var(--pico-contrast-background);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: rgba(var(--pico-contrast), 0.25);
  --pico-contrast-inverse: #{$crust};
  --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(#{$crust}, 0.01698),
    0.0335rem 0.067rem 0.402rem rgba(#{$crust}, 0.024),
    0.0625rem 0.125rem 0.75rem rgba(#{$crust}, 0.03),
    0.1125rem 0.225rem 1.35rem rgba(#{$crust}, 0.036),
    0.2085rem 0.417rem 2.502rem rgba(#{$crust}, 0.04302),
    0.5rem 1rem 6rem rgba(#{$crust}, 0.06),
    0 0 0 0.0625rem rgba(#{$crust}, 0.015);
  --pico-h1-color: #{$text};
  --pico-h2-color: #{$subtext0};
  --pico-h3-color: #{$subtext0};
  --pico-h4-color: #{$subtext1};
  --pico-h5-color: #{$subtext1};
  --pico-h6-color: #{$subtext1};
  --pico-mark-background-color: #{$mauve};
  --pico-mark-color: #{$crust};
  --pico-ins-color: #{$green};
  --pico-del-color: #{$red};
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: rgba(#{$surface2}, 0.0375);
  --pico-code-background-color: #{$mantle};
  --pico-code-color: #{$text};
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: #{$base};
  --pico-form-element-selected-background-color: #{$crust};
  --pico-form-element-border-color: #{$surface2};
  --pico-form-element-color: #{$text};
  --pico-form-element-placeholder-color: #{$overlay1};
  --pico-form-element-active-background-color: #{$base};
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: #{$red};
  --pico-form-element-invalid-active-border-color: #{$red};
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: #{$green};
  --pico-form-element-valid-active-border-color: #{$green};
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: #{$crust};
  --pico-switch-checked-background-color: #{$surface0};
  --pico-switch-color: #{$text};
  --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-range-border-color: #{$surface1};
  --pico-range-active-border-color: #{$overlay1};
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: #{$base};
  --pico-card-border-color: var(--pico-card-background-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: #{$crust};
  --pico-dropdown-background-color: var(--pico-form-element-background-color);
  --pico-dropdown-border-color: var(--pico-form-element-border-color);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: #{$surface0};
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: rgba(8, 9, 10, 0.75);
  --pico-progress-background-color: #{$surface0};
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(150, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  color-scheme: dark;

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #{$pink};
    }

    strong {
      color: #{$sapphire};
    }

    em {
      color: #{$green};
    }
  }

  /* Set the main properties of the code, code blocks, and inline code */
  code,
  pre {
    background: #{color.adjust($mantle, $alpha: -0.5)};
    color: #{$text};
    font-family: Firacode, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    font-size: 90%;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.25;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /* The following properties are also standard */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Optional: What the code looks like when highlighted */
  code::-moz-selection,
  code ::-moz-selection,
  pre::-moz-selection,
  pre ::-moz-selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  code::selection,
  code ::selection,
  pre::selection,
  pre ::selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  /* Properties specific to code blocks */
  pre {
    padding: var(--pico-spacing);
    margin: var(--pico-spacing) 0;
    overflow: auto;
    border-radius: var(--pico-border-radius);
  }

  article > pre {
    margin: var(--pico-spacing) calc(-1 * var(--pico-spacing));
  }

  /* Properties specific to inline code */
  :not(pre) > code {
    padding: 0.1em;
    border-radius: var(--pico-border-radius);
    white-space: normal;
  }

  .token.comment {
    color: #{$overlay2};
  }

  .token.prolog {
    color: #{$overlay2};
  }

  .token.cdata {
    color: #{$overlay2};
  }

  .token.doctype {
    color: #{$overlay2};
  }

  .token.punctuation {
    color: #{$overlay2};
  }

  .token.entity {
    color: #{$peach};
  }

  .token.attr-name {
    color: #{$yellow};
  }

  .token.class-name {
    color: #{$yellow};
  }

  .token.boolean {
    color: #{$teal};
  }

  .token.constant {
    color: #{$peach};
  }

  .token.number {
    color: #{$peach};
  }

  .token.atrule {
    color: #{$mauve};
  }

  .token.keyword {
    color: #{$mauve};
  }

  .token.property {
    color: #{$blue};
  }

  .token.tag {
    color: #{$yellow};
  }

  .token.symbol {
    color: #{$red};
  }

  .token.deleted {
    color: #{$red};
  }

  .token.important {
    color: #{$red};
  }

  .token.selector {
    color: #{$yellow};
  }

  .token.string {
    color: #{$green};
  }

  .token.char {
    color: #{$green};
  }

  .token.builtin {
    color: #{$red};
  }

  .token.inserted {
    color: #{$green};
  }

  .token.regex {
    color: #{$pink};
  }

  .token.attr-value {
    color: #{$green};
  }

  .token.variable {
    color: #{$text};
  }

  .token.operator {
    color: #{$sky};
  }

  .token.function {
    color: #{$blue};
  }

  .token.url {
    color: #{$blue};
  }

  /* The following rules are pretty similar across themes, but feel free to adjust them */
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.namespace {
    opacity: 0.7;
  }
}

[data-theme="dark"] {
  @import "mocha";
  --pico-primary: #{$mauve};
  --pico-background-color: #{$base};
  --pico-color: #{$text};
  --pico-text-selection-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-muted-color: #{$overlay1};
  --pico-muted-border-color: #{$overlay1};
  --pico-primary-background: var(--pico-primary);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: rgba(var(--pico-primary), 0.5);
  --pico-primary-hover: var(--pico-primary);
  --pico-primary-hover-background: var(--pico-primary-background);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: rgba(var(--pico-primary), 0.375);
  --pico-primary-inverse: #{$rosewater};
  --pico-secondary: var(--pico-color);
  --pico-secondary-background: #{$surface2};
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: rgba(var(--pico-secondary), 0.5);
  --pico-secondary-hover: var(--pico-secondary);
  --pico-secondary-hover-background: var(--pico-secondary-background);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: rgba(var(--pico-secondary-hover), 0.5);
  --pico-secondary-focus: rgba(var(--pico-secondary), 0.25);
  --pico-secondary-inverse: #{$rosewater};
  --pico-contrast: #{$text};
  --pico-contrast-background: #{$text};
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: rgba(var(--pico-contrast), 0.5);
  --pico-contrast-hover: var(--pico-contrast);
  --pico-contrast-hover-background: var(--pico-contrast-background);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: rgba(var(--pico-contrast), 0.25);
  --pico-contrast-inverse: #{$crust};
  --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(#{$crust}, 0.01698),
    0.0335rem 0.067rem 0.402rem rgba(#{$crust}, 0.024),
    0.0625rem 0.125rem 0.75rem rgba(#{$crust}, 0.03),
    0.1125rem 0.225rem 1.35rem rgba(#{$crust}, 0.036),
    0.2085rem 0.417rem 2.502rem rgba(#{$crust}, 0.04302),
    0.5rem 1rem 6rem rgba(#{$crust}, 0.06),
    0 0 0 0.0625rem rgba(#{$crust}, 0.015);
  --pico-h1-color: #{$text};
  --pico-h2-color: #{$subtext0};
  --pico-h3-color: #{$subtext0};
  --pico-h4-color: #{$subtext1};
  --pico-h5-color: #{$subtext1};
  --pico-h6-color: #{$subtext1};
  --pico-mark-background-color: #{$mauve};
  --pico-mark-color: #{$crust};
  --pico-ins-color: #{$green};
  --pico-del-color: #{$red};
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: rgba(#{$surface2}, 0.0375);
  --pico-code-background-color: #{$crust};
  --pico-code-color: #{$text};
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: #{$mantle};
  --pico-form-element-selected-background-color: #{$crust};
  --pico-form-element-border-color: #{$surface2};
  --pico-form-element-color: #{$text};
  --pico-form-element-placeholder-color: #{$overlay1};
  --pico-form-element-active-background-color: #{$mantle};
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: #{$red};
  --pico-form-element-invalid-active-border-color: #{$red};
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: #{$green};
  --pico-form-element-valid-active-border-color: #{$green};
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: #{$crust};
  --pico-switch-checked-background-color: #{$surface0};
  --pico-switch-color: #{$text};
  --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-range-border-color: #{$surface1};
  --pico-range-active-border-color: #{$overlay1};
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: #{$mantle};
  --pico-card-border-color: var(--pico-card-background-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: #{$crust};
  --pico-dropdown-background-color: var(--pico-form-element-background-color);
  --pico-dropdown-border-color: var(--pico-form-element-border-color);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: #{$surface0};
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: rgba(8, 9, 10, 0.75);
  --pico-progress-background-color: #{$surface0};
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(150, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  color-scheme: dark;

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #{$lavender};
    }

    strong {
      color: #{$sapphire};
    }

    em {
      color: #{$green};
    }
  }

  /* Set the main properties of the code, code blocks, and inline code */
  code,
  pre {
    background: #{$crust};
    color: #{$text};
    font-family: Firacode, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
      monospace;
    font-size: 90%;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.25;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /* The following properties are also standard */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Optional: What the code looks like when highlighted */
  code::-moz-selection,
  code ::-moz-selection,
  pre::-moz-selection,
  pre ::-moz-selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  code::selection,
  code ::selection,
  pre::selection,
  pre ::selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  /* Properties specific to code blocks */
  pre {
    padding: var(--pico-spacing);
    margin: var(--pico-spacing) 0;
    overflow: auto;
    border-radius: var(--pico-border-radius);
  }

  article > pre {
    margin: var(--pico-spacing) calc(-1 * var(--pico-spacing));
  }

  /* Properties specific to inline code */
  :not(pre) > code {
    padding: 0.1em;
    border-radius: var(--pico-border-radius);
    white-space: normal;
  }

  .token.comment {
    color: #{$overlay2};
  }

  .token.prolog {
    color: #{$overlay2};
  }

  .token.cdata {
    color: #{$overlay2};
  }

  .token.doctype {
    color: #{$overlay2};
  }

  .token.punctuation {
    color: #{$overlay2};
  }

  .token.entity {
    color: #{$peach};
  }

  .token.attr-name {
    color: #{$yellow};
  }

  .token.class-name {
    color: #{$yellow};
  }

  .token.boolean {
    color: #{$teal};
  }

  .token.constant {
    color: #{$peach};
  }

  .token.number {
    color: #{$peach};
  }

  .token.atrule {
    color: #{$mauve};
  }

  .token.keyword {
    color: #{$mauve};
  }

  .token.property {
    color: #{$blue};
  }

  .token.tag {
    color: #{$yellow};
  }

  .token.symbol {
    color: #{$red};
  }

  .token.deleted {
    color: #{$red};
  }

  .token.important {
    color: #{$red};
  }

  .token.selector {
    color: #{$yellow};
  }

  .token.string {
    color: #{$green};
  }

  .token.char {
    color: #{$green};
  }

  .token.builtin {
    color: #{$red};
  }

  .token.inserted {
    color: #{$green};
  }

  .token.regex {
    color: #{$pink};
  }

  .token.attr-value {
    color: #{$green};
  }

  .token.variable {
    color: #{$text};
  }

  .token.operator {
    color: #{$sky};
  }

  .token.function {
    color: #{$blue};
  }

  .token.url {
    color: #{$blue};
  }

  /* The following rules are pretty similar across themes, but feel free to adjust them */
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.namespace {
    opacity: 0.7;
  }
}
