@use "latte";
@use "mocha";
@use "sass:color";

[data-theme="light"],
:root:not([data-theme="dark"]) {
  @import "latte";
  --pico-primary: #{$mauve};
  --pico-background-color: #{$mantle};
  --pico-color: #{$text};
  --pico-text-selection-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-muted-color: #{$overlay1};
  --pico-muted-border-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-primary-background: var(--pico-primary);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: rgba(var(--pico-primary), 0.5);
  --pico-primary-hover: var(--pico-primary);
  --pico-primary-hover-background: var(--pico-primary-background);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: rgba(var(--pico-primary), 0.375);
  --pico-primary-inverse: #{$rosewater};
  --pico-secondary: var(--pico-color);
  --pico-secondary-background: #{$surface2};
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: rgba(var(--pico-secondary), 0.5);
  --pico-secondary-hover: var(--pico-secondary);
  --pico-secondary-hover-background: var(--pico-secondary-background);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: rgba(var(--pico-secondary-hover), 0.5);
  --pico-secondary-focus: rgba(var(--pico-secondary), 0.25);
  --pico-secondary-inverse: #{$rosewater};
  --pico-contrast: #{$text};
  --pico-contrast-background: #{$text};
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: rgba(var(--pico-contrast), 0.5);
  --pico-contrast-hover: var(--pico-contrast);
  --pico-contrast-hover-background: var(--pico-contrast-background);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: rgba(var(--pico-contrast), 0.25);
  --pico-contrast-inverse: #{$crust};
  --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(#{$crust}, 0.01698),
    0.0335rem 0.067rem 0.402rem rgba(#{$crust}, 0.024),
    0.0625rem 0.125rem 0.75rem rgba(#{$crust}, 0.03),
    0.1125rem 0.225rem 1.35rem rgba(#{$crust}, 0.036),
    0.2085rem 0.417rem 2.502rem rgba(#{$crust}, 0.04302),
    0.5rem 1rem 6rem rgba(#{$crust}, 0.06),
    0 0 0 0.0625rem rgba(#{$crust}, 0.015);
  --pico-h1-color: #{$text};
  --pico-h2-color: #{$subtext0};
  --pico-h3-color: #{$subtext0};
  --pico-h4-color: #{$subtext1};
  --pico-h5-color: #{$subtext1};
  --pico-h6-color: #{$subtext1};
  --pico-mark-background-color: #{$mauve};
  --pico-mark-color: #{$crust};
  --pico-ins-color: #{$green};
  --pico-del-color: #{$red};
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: rgba(#{$surface2}, 0.0375);
  --pico-code-background-color: #{$mantle};
  --pico-code-color: #{$text};
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: #{$base};
  --pico-form-element-selected-background-color: #{$crust};
  --pico-form-element-border-color: #{$surface2};
  --pico-form-element-color: #{$text};
  --pico-form-element-placeholder-color: #{$overlay1};
  --pico-form-element-active-background-color: #{$base};
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: #{$red};
  --pico-form-element-invalid-active-border-color: #{$red};
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: #{$green};
  --pico-form-element-valid-active-border-color: #{$green};
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: #{$crust};
  --pico-switch-checked-background-color: #{$surface0};
  --pico-switch-color: #{$text};
  --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-range-border-color: #{$surface1};
  --pico-range-active-border-color: #{$overlay1};
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: #{$base};
  --pico-card-border-color: var(--pico-card-background-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: #{$crust};
  --pico-dropdown-background-color: var(--pico-form-element-background-color);
  --pico-dropdown-border-color: var(--pico-form-element-border-color);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: #{$surface0};
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: rgba(8, 9, 10, 0.75);
  --pico-progress-background-color: #{$surface0};
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  color-scheme: dark;

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #{$pink};
    }

    strong {
      color: #{$sapphire};
    }

    em {
      color: #{$green};
    }
  }

  code,
  pre {
    background: #{color.adjust($mantle, $alpha: -0.25)};
    color: #{$text};
  }

  code::-moz-selection,
  code ::-moz-selection,
  pre::-moz-selection,
  pre ::-moz-selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  code::selection,
  code ::selection,
  pre::selection,
  pre ::selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  @import "latte-code";
}

[data-theme="dark"] {
  @import "mocha";
  --pico-primary: #{$mauve};
  --pico-background-color: #{$base};
  --pico-color: #{$text};
  --pico-text-selection-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-muted-color: #{$overlay1};
  --pico-muted-border-color: #{color.adjust($overlay2, $alpha: -0.8125)};
  --pico-primary-background: var(--pico-primary);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: rgba(var(--pico-primary), 0.5);
  --pico-primary-hover: var(--pico-primary);
  --pico-primary-hover-background: var(--pico-primary-background);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: rgba(var(--pico-primary), 0.375);
  --pico-primary-inverse: #{$rosewater};
  --pico-secondary: var(--pico-color);
  --pico-secondary-background: #{$surface2};
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: rgba(var(--pico-secondary), 0.5);
  --pico-secondary-hover: var(--pico-secondary);
  --pico-secondary-hover-background: var(--pico-secondary-background);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: rgba(var(--pico-secondary-hover), 0.5);
  --pico-secondary-focus: rgba(var(--pico-secondary), 0.25);
  --pico-secondary-inverse: #{$rosewater};
  --pico-contrast: #{$text};
  --pico-contrast-background: #{$text};
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: rgba(var(--pico-contrast), 0.5);
  --pico-contrast-hover: var(--pico-contrast);
  --pico-contrast-hover-background: var(--pico-contrast-background);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: rgba(var(--pico-contrast), 0.25);
  --pico-contrast-inverse: #{$crust};
  --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(#{$crust}, 0.01698),
    0.0335rem 0.067rem 0.402rem rgba(#{$crust}, 0.024),
    0.0625rem 0.125rem 0.75rem rgba(#{$crust}, 0.03),
    0.1125rem 0.225rem 1.35rem rgba(#{$crust}, 0.036),
    0.2085rem 0.417rem 2.502rem rgba(#{$crust}, 0.04302),
    0.5rem 1rem 6rem rgba(#{$crust}, 0.06),
    0 0 0 0.0625rem rgba(#{$crust}, 0.015);
  --pico-h1-color: #{$text};
  --pico-h2-color: #{$subtext0};
  --pico-h3-color: #{$subtext0};
  --pico-h4-color: #{$subtext1};
  --pico-h5-color: #{$subtext1};
  --pico-h6-color: #{$subtext1};
  --pico-mark-background-color: #{$mauve};
  --pico-mark-color: #{$crust};
  --pico-ins-color: #{$green};
  --pico-del-color: #{$red};
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: rgba(#{$surface2}, 0.0375);
  --pico-code-background-color: #{$crust};
  --pico-code-color: #{$text};
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: #{$mantle};
  --pico-form-element-selected-background-color: #{$crust};
  --pico-form-element-border-color: #{$surface2};
  --pico-form-element-color: #{$text};
  --pico-form-element-placeholder-color: #{$overlay1};
  --pico-form-element-active-background-color: #{$mantle};
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: #{$red};
  --pico-form-element-invalid-active-border-color: #{$red};
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: #{$green};
  --pico-form-element-valid-active-border-color: #{$green};
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: #{$crust};
  --pico-switch-checked-background-color: #{$surface0};
  --pico-switch-color: #{$text};
  --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-range-border-color: #{$surface1};
  --pico-range-active-border-color: #{$overlay1};
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: #{$mantle};
  --pico-card-border-color: var(--pico-card-background-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: #{$crust};
  --pico-dropdown-background-color: var(--pico-form-element-background-color);
  --pico-dropdown-border-color: var(--pico-form-element-border-color);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: #{$surface0};
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: rgba(8, 9, 10, 0.75);
  --pico-progress-background-color: #{$surface0};
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  color-scheme: dark;

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #{$lavender};
    }

    strong {
      color: #{$sapphire};
    }

    em {
      color: #{$green};
    }
  }

  code,
  pre {
    background: #{$crust};
    color: #{$text};
  }

  code::-moz-selection,
  code ::-moz-selection,
  pre::-moz-selection,
  pre ::-moz-selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  code::selection,
  code ::selection,
  pre::selection,
  pre ::selection {
    background: #{color.adjust($overlay2, $alpha: -0.8125)};
    color: #{$text};
  }

  @import "mocha-code";
}
