@use "pico" with (
  $enable-semantic-container: true,
  $theme-color: "purple",
  $modules: (
    "forms/input-search": false,
    "content/code": false,
  ),
  $breakpoints: (
    sm: (
      viewport: var(--readable-width),
    ),
    md: (
      viewport: var(--readable-width),
    ),
    lg: (
      viewport: var(--readable-width),
    ),
    xl: (
      viewport: var(--readable-width),
    ),
    xxl: (
      viewport: var(--readable-width),
    ),
  )
);

@use "icons";
@use "colors";

li:has(> #toggle-dark-mode) {
  color: var(--pico-primary);
  border: none;
  cursor: pointer;
}

#loading-bar {
  opacity: 0;
  transition: opacity 0.2s;
  height: 0.25rem;
  margin: 0;
}

#loading-bar.htmx-request {
  opacity: 1;
}

.article-link {
  color: var(--pico-h1-color);
  text-decoration: none;
}

.article-link:hover {
  color: var(--pico-primary);
}

.tag {
  margin-right: 0.5rem;
  color: var(--pico-primary);
  text-decoration: none;
}

[type="checkbox"] + label.tag {
  text-decoration: none;
  color: var(--pico-primary);
}

[type="checkbox"]:checked + label.tag {
  font-weight: bold;
}

/* any checkboxes with a tag label */
[type="checkbox"]:has(+ label.tag) {
  display: none;
}

/* pico changes search boxes to round by default, we disable this */
[type="search"] {
  --pico-border-radius: inherit;
}

:root {
  --pico-nav-element-spacing-vertical: 0.5rem;
  --pico-block-spacing-vertical: 0.5rem;
  --readable-width: calc(65ch + (2 * var(--pico-spacing)));
}

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--pico-background-color);
  z-index: 90;
}

body > main {
  padding-top: 4rem;
  padding-left: 0;
  padding-right: 0;
}

.padded-when-small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
}

@media (min-width: 576px) {
  .padded-when-small {
    max-width: 69ch;
    padding-right: 0;
    padding-left: 0;
  }
}

#series-select[data-selected=""] {
  color: var(--pico-form-element-placeholder-color);
}

blockquote {
  padding: calc(var(--pico-spacing) * 0.3) var(--pico-spacing)
    calc(var(--pico-spacing) * 0.4) var(--pico-spacing);
}

blockquote > :last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-typography-spacing-top: 1.5rem;
  --pico-typography-spacing-vertical: 0.25rem;
}

figure {
  margin-top: 0.5rem;
}
