@use "pico" with (
  $enable-semantic-container: true,
  $theme-color: "purple",
  $modules: (
    "forms/input-search": false,
  ),
  $breakpoints: (
    sm: (
      viewport: 65ch,
    ),
    md: (
      viewport: 65ch,
    ),
    lg: (
      viewport: 65ch,
    ),
    xl: (
      viewport: 65ch,
    ),
    xxl: (
      viewport: 65ch,
    ),
  )
);

@use "highlighting";
@use "icons";

#loading-bar.htmx-request {
  opacity: 1;
  animation: fadeIn 0.6s ease-in forwards, slide 0.8s ease-in-out infinite;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.article-link {
  color: var(--pico-h1-color);
  text-decoration: none;
}

.article-link:hover {
  color: var(--pico-primary);
}

.tag {
  margin-right: 0.5rem;
  color: var(--pico-primary);
  text-decoration: none;
}

[type="checkbox"] + label.tag {
  text-decoration: none;
  color: var(--pico-primary);
}

[type="checkbox"]:checked + label.tag {
  font-weight: bold;
}

/* any checkboxes with a tag label */
[type="checkbox"]:has(+ label.tag) {
  display: none;
}

/* pico changes search boxes to round by default, we disable this */
[type="search"] {
  --pico-border-radius: inherit;
}
