@use "sass:map";
@use "pico" with (
  $modules: (
    "content/embedded": false,
    "content/table": false,
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/dropdown": false,
    "components/modal": false,
    "components/loading": false,
  ),
  $breakpoints: (
    // Small (landscape phones)
    // Font size: 17px
    sm:
      (
        breakpoint: 660px,
        viewport: var(--readable-width),
        root-font-size: 106.25%
      ),

    // Medium (tablets)
    // Font size: 18px
    md:
      (
        breakpoint: 768px,
        viewport: var(--readable-width),
        root-font-size: 112.5%
      ),

    // Large
    // Font size: 19px
    lg:
      (
        breakpoint: 1024px,
        viewport: var(--readable-width),
        root-font-size: 118.75%
      ),

    // Extra large
    // Font size: 20px
    xl:
      (
        breakpoint: 1280px,
        viewport: var(--readable-width),
        root-font-size: 125%
      ),

    // Extra extra large
    // Font size: 21px
    xxl:
      (
        breakpoint: 1536px,
        viewport: var(--readable-width),
        root-font-size: 131.25%
      ),
  )
);

@use "icons";
@use "colors";

:root {
  --pico-nav-element-spacing-vertical: 0.5rem;
  --pico-block-spacing-vertical: 0.5rem;
  --readable-width: calc(65ch + (2 * var(--pico-spacing)));
  --navbar-height: 3.5rem;
  --truncate-lines: 3;
  scroll-padding-top: calc(var(--navbar-height) + (0.5 * var(--pico-spacing)));
}

li:has(> #toggle-dark-mode) {
  color: var(--pico-primary);
  border: none;
  cursor: pointer;
}

#loading-bar {
  opacity: 0;
  transition: opacity 0.2s;
  height: 0.25rem;
  margin: 0;
}

#loading-bar.htmx-request {
  opacity: 1;
}

.article-link {
  text-decoration: none;
}

.article-link:hover {
  color: var(--pico-primary);
}

.tag {
  margin-right: 0.35rem;
  margin-inline-end: 0.35rem !important;
  color: var(--pico-primary);
  text-decoration: none;
}

[type="checkbox"] + label.tag {
  text-decoration: none;
  color: var(--pico-primary);
}

[type="checkbox"]:checked + label.tag {
  font-weight: bold;
}

/* any checkboxes with a tag label */
[type="checkbox"]:has(+ label.tag) {
  display: none;
}

/* pico changes search boxes to round by default, we disable this */
[type="search"] {
  --pico-border-radius: inherit;
}

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--pico-background-color);
  z-index: 90;
}

body > main {
  padding-top: var(--navbar-height);
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.padded-when-small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--pico-block-spacing-horizontal);
}

@media (min-width: map.get(map.get(pico.$breakpoints, "sm"), "breakpoint")) {
  .padded-when-small {
    max-width: var(--readable-width);
    padding: 0 0;
  }
}

#series-select[data-selected=""] {
  color: var(--pico-form-element-placeholder-color);
}

blockquote {
  padding: calc(var(--pico-spacing) * 0.3) var(--pico-spacing)
    calc(var(--pico-spacing) * 0.4) var(--pico-spacing);
}

blockquote > :last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-typography-spacing-top: 1.5rem;
  --pico-typography-spacing-vertical: 0.25rem;

  .header-link {
    display: none;
    margin-left: calc(0.5 * var(--pico-spacing));
    text-decoration: none;
  }

  &:hover .header-link {
    display: inline;
  }
}

figure {
  margin-top: 0.5rem;
}

hr {
  margin: calc(0.75 * var(--pico-spacing)) 0;
}

.prose {
  hr {
    margin: calc(0.5 * var(--pico-spacing)) 0;
  }
  img {
    max-width: calc(100vw - 2 * var(--pico-spacing));
  }
}

@media (min-width: map.get(map.get(pico.$breakpoints, "sm"), "breakpoint")) {
  .prose img {
    max-width: 65ch;
  }
}

code,
pre {
  font-family: Firacode, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 90%;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.25;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  padding: var(--pico-spacing);
  margin: var(--pico-spacing) 0;
  overflow: auto;
  border-radius: var(--pico-border-radius);
}

article > pre {
  margin: var(--pico-spacing) calc(-1 * var(--pico-spacing));
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: var(--pico-border-radius);
  white-space: normal;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--truncate-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.muted {
  color: var(--pico-muted-color);
}

.article-image {
  width: 100%;
  margin-top: 0.5rem;
}

@media (min-width: map.get(map.get(pico.$breakpoints, "sm"), "breakpoint")) {
  .article-image {
    float: right;
    width: 13rem;
  }
}

.spoiler,
.spoiler > * {
  transition: color 0.3s, opacity 0.3s;
  cursor: pointer;
  padding: 0 0.25em 0.15em 0.25em;
  border-radius: var(--pico-border-radius);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.footnote-back {
  margin-left: 0.5rem;
}

#footnotes > ol {
  padding-left: 0;
  margin-left: 1rem;
  margin-top: 1.5rem;
  li {
    color: var(--pico-muted-color);
  }
}

#footnotes > ol::before {
  content: "Footnotes";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-left: -1rem;
}

#TOC {
  display: block;
  ul {
    display: block;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  li {
    display: block;
    margin-left: 0.75rem;
    padding: 0;
  }
  a {
    padding: 0;
    margin: 0;
  }
  > ul > li {
    margin: 0;
  }
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
  margin: 0;
  background-color: var(--pico-card-background-color);
  border-radius: var(--pico-border-radius);
  max-width: 12rem;
  font-size: 90%;
}

#TOC::before {
  content: "Table of Contents";
}

@media (min-width: map.get(map.get(pico.$breakpoints, "xl"), "breakpoint")) {
  #toc-hr {
    display: none;
  }

  #TOC {
    position: fixed;
    transform: translateX(calc(-100% - 1.5rem));
    top: var(--navbar-height);
  }
}
